
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

  /* :root {
    --backdrop: hsl(0 0% 60% / 0.12);
    --radius: 14;
    --border: 3;
    --backup-border: var(--backdrop);
    --size: 200;
  } */
  
  .firstArticle {
    --base: 80;
    --spread: 500;
    --outer: 1;
  }
  .lastArticle {
    --outer: 1;
    --base: 220;
    --spread: 200;
  }
  /* .cardHeading{
    color: #fff;
  } */
  
  /* *,
  *:after,
  *:before {
    box-sizing: border-box;
  } */
  /* .card {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background:hsl(247.69deg 37.92% 5.95%)
  } */
  
  .wrapper {
    position: relative;
  }
  
  .article {
    aspect-ratio: 3 / 4;
    border-radius: calc(var(14) * 1px);
    width: 330px;
    position: relative;
    grid-template-rows: 1fr auto;
    box-shadow: 0 1rem 2rem -1rem black;
    padding: 1rem;
    display: grid;
    border: 1px solid hsl(0 0% 100% / 0.15);
    backdrop-filter: blur(calc(var(--cardblur, 5) * 1px));
    /* For demo purposes. Means you get the effect on mobile */
    touch-action: none;
  }
  .main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 220ch;
    max-width: calc(100vw - 2rem);
    position: relative;
  }
 
  
  /* Glow specific styles */
  .glow{
    --border-size: calc(var(--border, 2) * 1px);
    --spotlight-size: calc(var(--size, 150) * 1px);
    --hue: calc(var(--base) + (var(--xp, 0) * var(--spread, 0)));
    background-image: radial-gradient(
      var(--spotlight-size) var(--spotlight-size) at
      calc(var(--x, 0) * 1px)
      calc(var(--y, 0) * 1px),
      hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 70) * 1%) / var(--bg-spot-opacity, 0.1)), transparent
    );
    background-color: var(--backdrop, transparent);
    background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
    background-position: 50% 50%;
    background-attachment: fixed;
    border: var(--border-size) solid var(--backup-border);
    position: relative;
    touch-action: none;
  }
  
  .glow::before,
  .glow::after {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: calc(var(--border-size) * -1);
    border: var(--border-size) solid transparent;
    border-radius: calc(var(--radius) * 1px);
    background-attachment: fixed;
    background-size: calc(100% + (2 * var(--border-size))) calc(100% + (2 * var(--border-size)));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    mask:
      linear-gradient(transparent, transparent),
      linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
  }
  
  /* This is the emphasis light */
  .glow::before {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.75) calc(var(--spotlight-size) * 0.75) at
      calc(var(--x, 0) * 1px)
      calc(var(--y, 0) * 1px),
      hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 50) * 1%) / var(--border-spot-opacity, 1)), transparent 100%
    );
    filter: brightness(2);
  }
  /* This is the spotlight */
  .glow::after {
    background-image: radial-gradient(
      calc(var(--spotlight-size) * 0.5) calc(var(--spotlight-size) * 0.5) at
      calc(var(--x, 0) * 1px)
      calc(var(--y, 0) * 1px),
      hsl(0 100% 100% / var(--border-light-opacity, 1)), transparent 100%
    );
  }
  .glow > .glow:not(:is(a, button)) {
    position: absolute;
    inset: 0;
    will-change: filter;
    opacity: var(--outer, 1);
  }
  .glow > .glow:not(:is(a, .button)) {
    border-radius: calc(var(--radius) * 1px);
    border-width: calc(var(--border-size) * 20);
    filter: blur(calc(var(--border-size) * 10));
    background: none;
    pointer-events: none;
  }
  .glow > .glow:not(:is(a, .button))::before {
    inset: -10px;
    border-width: 10px;
  }
  .glow > .glow {
    border: none;
  }
  .glow :is(a, .button) {
    border-radius: calc(var(--radius) * 1px);
    border: var(--border-size) solid transparent;
  }
  .glow :is(a, button) .glow {
    background: none;
  }
  .glow :is(a, .button) .glow::before {
    inset: calc(var(--border-size) * -1);
    border-width: calc(var(--border-size) * 1);
  }
  
  .article button {
    padding: 0.75rem 2rem;
    align-self: end;
    color: hsl(0 0% 80%);
  }
  
  .btnText {
    font-weight: bold;
    background-image: radial-gradient(
      var(--spotlight-size) var(--spotlight-size) at
      calc(var(--x, 0) * 1px)
      calc(var(--y, 0) * 1px),
      hsl(var(--hue, 210) calc(var(--saturation, 100) * 1%) calc(var(--lightness, 70) * 1%) / var(--bg-spot-opacity, 1)), transparent
    );
    background-color: transparent;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-clip: text;
    filter: brightness(1.5);
    color: transparent;
  }
  

/* Slider CSS */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@300;600&display=swap");

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
} */

.body{
  background-image: 
  radial-gradient(
      circle at 20% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 33%,
      rgba(96, 96, 96, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 66%,
      rgba(7, 7, 7, 0.1) 99%
    ),
    linear-gradient(40deg, #040a22, #162561, #202e64, #6f7aa6);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 60px;
  min-height: 100vh;
  padding: 20px 60px;
}
/* Whatsapp Icon */

.whatsapp{
  z-index:1;
	position:fixed;
	bottom:5%;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;
}

.whatsappIcon{

	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:22px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;

  background-color:#1feb52;
	color:#FFF;
}

.whatsappIcon:hover{
  color:#FFF;
	transform:translate(0px,0px);
}
.whatsappIco{
  transform:rotate(360deg);
  background-color:#FFF;
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;

  background-color:#FFF;
	color:#FD1D1D;

}


/* CONTENT */

.content {
  max-width: 2400px;
}

.content h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: #fff;
}

.content p {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}

.content button {
  background: #eaeaea;
  color: #202134;
  font-size: clamp(0.9rem, 4vw, 1rem);
  font-weight: 600;
  border: 0;
  outline: 0;
  padding: 8px 14px;
  border-radius: 7px;
  transform: scale(1);
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.content button:is(:hover, :focus) {
  transform: scale(0.98);
  background-color: #6f7aa6;
  color: #eaeaea;
}
/* New Servide Css */
.serviceImage{
  height: 200;
  width: 300;
}
.serviceHeading{
  color: #2f1c6a;
  margin-bottom: 32px

}

/* new CSS of Prices */
.saveDiv, .saveDiv2{

    border: 2px solid transparent;
    border-radius: 20px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 2%;
   padding-bottom: 2%;
   background-color: rgba(202, 202, 214, 0.4);
   color: rgb(20, 20, 143);
   font-weight: bolder;


}
.btn1
.price{
  color: rgb(20, 20, 143);

}
.monthDiv{
  color: rgb(20, 20, 143);
           font-weight: bolder;
           margin-left: 30%;
}
.monthDiv2{
  color: #fc5185;
 font-weight: bolder;
 margin-left: 30%;
}
.firstFea{
  color: rgb(2, 2, 71);
    font-weight: bolder;
}
.saveDiv2{
  color: #fc5185;
            background-color: rgba(242, 209, 233, 0.4);

}
.btn{
  background-color:rgb(20, 20, 143);
  font-weight: bolder;
padding: 10px 50px;
  color: #fff;

}
.btn2{
  background-color: #fc5185;
  font-weight: bolder;
 padding: 10px 50px;
  border: none;
  color:#fff

}
.btn:hover{
  background-color:rgb(9, 9, 59);
  font-weight: bolder;
}
.btn2:hover{
  background-color: #ed4d7d ;
  color: #ffff;
  
}
.card{
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.02); 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list {
  list-style: none;
}
.listText{
  font-weight: bolder;
  color: #000
  ;
}
.listItem{
    /* color: rgb(13, 13, 102); */
    margin-top: 3%;
    font-size: 13px;
    
}
.listItem:before {
  content: '✓';
  font-weight: bolder;
  font-size: larger;
  

}

/* Services */


.ourService
{
padding: 100px 0px;
}
.mainTitle{
  text-align: center;
  padding-bottom:70px;
  color:#202e64;
}
.serviceItem{
  max-width: 360px;
  margin: 0px auto 30px;
  text-align: center;
}
.icon{
  background: #202e64;
  background-color: #202e64;
  height: 65px;
  width: 65px;
 border-radius: 5px;
 display: block;
 text-align: center;
 line-height: 65px;
color:#fff;
margin: auto;
transition: all 400ms linear 0s;
}
.icon:hover{
  background-color: #fff;
  color: #202e64;
  border: 1px solid #202e64 ;
}
.serviceSecondHeading{
  text-decoration: none;
}
.heading3{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #222222;
  padding: 30px 10px 20px 10px;
  transition: all 400ms linear 0s
}
.heading3:hover{
  color: #202e64
}
/* Screen Shots */
.screenshotArea{
  background: #f1f1f1;
padding:100px 0px;
}
.main_title{
  text-align: center;
  padding-bottom: 70px;
}


.screenshotInner {
  position: relative;
  z-index: 2;
}

.screenshotInner:before {
  content: "";
  position: absolute;
  left: 49.75%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  z-index: 999;
  /* background: url(../img/screenshot/screenshot-shap.png) no-repeat scroll center center; */
  width: 334px;
  height: 684px;
  z-index: 2;
}

.screenshotInner .screenshotSlider {
  height: 684px;
  position: relative;
  top: 83px;
}

.screenshotInner .screenshotSlider .item {
  text-align: center;
}

.screenshotInner .screenshotSlider .item img {
  width: 300px;
  margin: auto;
  height: 478px;
}
/* Videos */
.ourBenefitsArea{
  overflow: hidden;
  display: flex;
  width: 100%;
}
.ourBenefitsInner{
  overflow: hidden;
  width: 100%;
  display: table-row;

}
.benefitsLeft{
  width: 100%;
  overflow: hidden;
  display: block;
  max-width: 960px;
  margin: auto;
}
.benefitsRight{
  width: 100%;
  overflow: hidden;
  display: block;
  float: none !important;


}
.benefitsContent{
  padding-top: 40px ;
  max-width: 555px;
  margin: auto;

}
.videoHeading1{
  padding-bottom: 10px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  color: #2222;
  font-weight: 400;
  position: relative;


}
/* .videoHeading1::before{
  content: "";
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 50px;
  height: 1px;
  background: #f8395d;
} */
/* .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0px;
  top: 0px;
} */
/* .overlayBg{
  background: url(../assets/benefits-video.jpg.webp) no-repeat scroll center center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  height: 100%;
  width: 100%;
} */
/* .video_row{
  position: relative;
} */
/* SLIDER */

.swiper {
  position: relative;
  width: 400px;
  height: 490px;
}

.swiperSlide {
  position: relative;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 20px;
}
.pricingItem{
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #d8aec6;
  border-radius: 10px;
text-align: center;
padding: 30px  20px;  
}
.pricingItemHeading{
   font-size: 30px;
   text-transform: uppercase;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400;
   color: #fff; 
   padding: 35px;
   margin: auto;
}
.pricingItemHeadingSecond{
  font-size: 48px;
  color: #6f7aa6;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  padding: 25px 0px 18px 0px;
}
.pricingItemHeadingFourth{
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #162561;
  font-weight: 400;
  padding-bottom: 35px;
}
.list{
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 30px;
  margin: 0;

}
.item1{
  line-height: 24px;
font-size: 14px;
border-bottom: 1px solid #fff;
}
.PriceSectionHeading{
  color: #162561;
  font-size: 40px;
  font-weight: bolder;
  justify-content: center;
  display: flex;
  padding: 30px
}
/* .listItem{
  border-top: 1px solid #6f7aa6;
  display: block;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  transition: all 400ms linear 0s;
  text-decoration: none;
  line-height: 50px;
} */
.cost {
  position: absolute;
  top: 8px;
  right: 6px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 6px 10px;
  color: #fff;
  font-size: clamp(0.8rem, 4vw, 0.9rem);
  font-weight: 600;
}
.purchaseBtn{
  width: 220px;
 border-radius: 5%;
  display: inline-block;
  text-align: center;
  height: 60px;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  color: #eceef4;
  border: 1px solid #162561;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  line-height: 60px;
}
/* .btn{
  border: 1px solid white;
  padding: 10px;
  border-radius: 0.5px;
  transition: all 400ms linear 0s;
} */
.btn:hover{
  background-color: #162561;
  color: #fff;
  border: 1px solid transparent;
}

.dark-text {
  color: #202134;
}

.swiperSlide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  background: rgba(93, 95, 145, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 0 0 20px 20px;
}

.overlay h1 {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  font-weight: 600;
}

.overlay p {
  font-size: clamp(0.8rem, 4vw, 0.9rem);
  font-weight: 300;
  line-height: 1.3;
}

.ratings {
  display: flex;
  column-gap: 10px;
  margin-top: -6px;
}

.ratings span {
  font-size: clamp(0.8rem, 4vw, 0.9rem);
  font-weight: 300;
}

.star {
  color: #afe312;
}

@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 930px) {
  .section {
    grid-template-columns: 100%;
    grid-template-rows: 55% 40%;
    grid-template-areas:
      "slider"
      "content";
    place-items: center;
    gap: 64px;
    padding: 60px;
  }

  .swiper {
    grid-area: slider;
  }

  .content {
    grid-area: content;
    text-align: center;
  }

  .content h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  .section {
    padding: 40px 40px 60px;
  }

  .swiper {
    width: 300px;
    height: 400px;
  }
}
/* Footer */

/* ul {
  margin: 0px;
  padding: 0px;
} */
.footerSection {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}
